.subscriber-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a73e8;   
  padding: 50px 30px;  
  color: white;
  flex-wrap: wrap;
  min-height: 70px;
}

.subscriber-left a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
  font-size: 1.1rem;
  transition: color 0.2s;
}

.subscriber-left a:hover {
  color: #003d66;  
}

.subscriber-right {
  display: flex;
  align-items: center;
 
}

.subscriber-right input {
  padding: 8px 14px;
 
  border: 1px solid white;
  outline: none;
  font-size: 0.95rem;
  width: 220px;
  background-color: #1a73e8; 
  color: #000;
}

.subscriber-right input::placeholder {
  color: white;
}

.subscriber-right button {
  background-color: #ffffff;
  color: #1a73e8;
  border: none;
  padding: 8px 16px;

  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.subscriber-right button:hover {
  background-color: #003d66;
  color: #fff;
}

 
@media (max-width: 768px) {
  .subscriber-navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .subscriber-left {
    margin-bottom: 12px;
  }

  .subscriber-right input {
    width: 180px;
  }
}
